/* Estilos Globais */
html, body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
    transition: background-color 0.5s ease; /* Transição suave para a cor de fundo */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do Header */
header {
    width: 100%;
    background-color: #292b2c;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

header button {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

header button:hover {
    background: #c0392b;
    transform: scale(1.05);
}

/* Estilo das Seções */
section {
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

section h2 {
    color: #292b2c;
    margin-bottom: 10px;
    font-weight: 700;
}

/* Estilo do Tema */
.theme-control p {
    margin-bottom: 10px;
}

button {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #2980b9;
    transform: scale(1.05);
}

/* Estilo da Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    border:#292b2c
}